* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    background-image: url(https://images.unsplash.com/photo-1615656046283-fde27322df20?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    position: relative;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 25px;
    text-shadow: 3px 4px 3px #e4192d, -4px 3px 7px #03071e;
    border: 5px solid #c0c5e4;
    color: chocolate;
    background-color: #03071e;
    transition: transform .2s;
    font-family: 'Akaya Telivigala', cursive;
    transition: all 2s;
}

button:hover {
    border-bottom: 6px solid #d00000;
    color: honeydew;
    text-shadow: 3px 4px 3px #6a040f, -4px 3px 7px #03071e;
    transform: translate(0, -10px) scale(1);
    box-shadow: 3px 6px 2px orchid, -12px -7px 13px #ffba08, -3px 6px 2px orchid, -3px -6px 2px orchid, -7px 4px 8px #ff006e, -3px -8px 12px #0a6fd4, 3px -8px 12px #0a6fd4, 8px -7px 6px #ffba08, -10px -10px 16px #ffe5d9, -10px 10px 16px #ffe5d9, 10px -10px 16px #ffe5d9, 10px 10px 26px #ffe5d9, 17px -4px 18px #ff006e;
    border-top: 6px solid#fefae0;
    border-left: 4px solid#edf16c;
    border-right: 4px solid#b60f0f;
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bolder;
    line-height: 1;
}